<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Common.Sms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Common.Sms.Properties.Settings>
            <setting name="Common_Sms_wsreluzcap_ReluzCap_x0020_Web_x0020_Service" serializeAs="String">
                <value>https://webservices.twwwireless.com.br/reluzcap/wsreluzcap.asmx</value>
            </setting>
            <setting name="Common_Sms_wsreluzcapmkt_ReluzCap_x0020_Web_x0020_Service" serializeAs="String">
                <value>https://retmkt.twwwireless.com.br/reluzcap/wsreluzcap.asmx</value>
            </setting>
        </Common.Sms.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>