<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserDataService">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_IClassDataService">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_IClassActivityDataService">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_IStudentDataService">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://tellme.fastsolucoes.com.br/wcf/UserDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserDataService"
                contract="UserDataService.IUserDataService" name="BasicHttpBinding_IUserDataService" />
            <endpoint address="https://tellme.fastsolucoes.com.br/wcf/ClassDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClassDataService"
                contract="ClassDataService.IClassDataService" name="BasicHttpBinding_IClassDataService" />
            <endpoint address="https://tellme.fastsolucoes.com.br/wcf/ClassActivityDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClassActivityDataService"
                contract="ClassActivityDataService.IClassActivityDataService"
                name="BasicHttpBinding_IClassActivityDataService" />
            <endpoint address="https://tellme.fastsolucoes.com.br/wcf/StudentDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStudentDataService"
                contract="StudentDataService.IStudentDataService" name="BasicHttpBinding_IStudentDataService" />
        </client>
    </system.serviceModel>
</configuration>